// main: style.scss

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  
  background: #101522;
  padding: 0 0 25px 0;
  color: #eee;
  font-size: 14px;

  .footer-top {
    background: darken($heading-color, 2%);
    padding: 60px 0 30px 0;

    .footer-info {
      margin-bottom: 30px;
      h3 {
        font-size: 26px;
        margin: 0 0 20px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-family: $accent-font;
        font-weight: 700;
        color: #fff;
      }

      img {
        height: 40px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: $accent-font;
        color: #fff;
      }
    }

    .social-links {
      a {
        font-size: 18px;
        display: inline-block;
        background: #eaecf5;
        color: #eee;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
        &:hover {
          background: $accent-color;
          color: #fff;
        }
      }
    }

    h4 {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 12px;
      border-bottom: 2px solid $accent-color;
    }

    .footer-links {
      margin-bottom: 30px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        i {
          padding-right: 5px;
          color: $accent-color;
          font-size: 18px;
        }

        li {
          border-bottom: 1px solid #262c44;
          padding: 10px 0;
          &:first-child {
            padding-top: 0;
          }
        }

        a {
          color: #eee;
          &:hover {
            color: $accent-color;
          }
        }
      }
    }

    .footer-contact {
      margin-bottom: 30px;
      p {
        line-height: 26px;
      }
    }

    .footer-newsletter {
      margin-bottom: 30px;

      input[type="email"] {
        border: 0;
        padding: 6px 8px;
        width: 65%;
      }
      input[type="submit"] {
        background: $accent-color;
        border: 0;
        width: 35%;
        padding: 6px 0;
        text-align: center;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background: darken($accent-color, 10%);
        }
      }
    }

  }

  .copyright {
    text-align: center;
    padding-top: 30px;
  }

  .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
  }
}
