// main: style.scss
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: $text-color;
  font-family: $text-font;
}

a {
  color: $accent-color;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: lighten($accent-color, 0.2%);
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: lighten($heading-color, 10%);
}

.main-page {
  margin-top: 70px;
}

.wow {
  visibility: hidden;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url('../img/preloader.svg') no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: $accent-color;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  right:15px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;

  i {
    font-size: 24px;
    padding-top: 6px;
  }

  @media (max-width: 768px){
   bottom: 15px;
  }

  &:focus {
    background: darken($accent-color, 10%);
    color: #fff;
    outline: none;
  }

  &:hover {
    background: darken($accent-color, 10%);
    color: #fff;
  }
}

/* Sections Header
--------------------------------*/
.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: $accent-color;
    bottom: 0;
    left: calc(50% - 25px);
  }

  h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  } 

  p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: lighten($text-color, 40%);
  }

}

.section-with-bg {
  background-color: lighten($heading-color, 90%);
}

/*Events**************** 
.pre-title{
  color: red;
}*/